{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/">Overview </a></li>
                <li><a href="/reports/">Region Demographics</a></li>
                <li><a href="/analytics/">Time Analytics</a></li>
                <li><a href="/export">Browser Usage</a></li>

                <li><a href="/pageViews/">Page Views</a></li>
                <li><a href="/demogra/">Demographics</a></li>
            </ul>
        </div>


    </div>
</div>


<div id="contain">
    <table>
        <tr>
            <td id="regionCell">
                <h2>Number of users per region</h2>
            </td>
            <td id="timeCell">
                <h2>Broswer Usage</h2>
            </td>
        </tr>
        <tr>
            <td id="viewCell">
                <h2>Number of views per hour per day</h2>
            </td>
            <td id="analCell">
                <h2>Number of users per month</h2>
            </td>
        </tr>
    </table>
</div>
<script>
   /* $(function () {
        $("#dialogRegion").dialog();
        $("#dialogRegion").position({
            my: "left top",
            at: "left top",
            of: "#contain"
        });
    });*/
/*    $(function () {
        $("#dialogTime").dialog();
    });
    $(function () {
        $("#dialogBrowser").dialog();
    });
    $(function () {
        $("#dialogPage").dialog();
    });*/
</script>




<script>

    var margin = {top: 20, right: 20, bottom: 30, left: 40},
            width = 500 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

    var x = d3.scale.ordinal()
            .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
            .range([height, 0]);

    var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

    var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(10, "%");

    var svg = d3.select("#regionCell").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    d3.tsv("/static/dataFiles/home.tsv", type, function(error, data) {
        x.domain(data.map(function(d) { return d.letter; }));
        y.domain([0, d3.max(data, function(d) { return d.frequency; })]);

        svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

        svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Frequency");

        svg.selectAll(".bar")
                .data(data)
                .enter().append("rect")
                .attr("class", "bar")
                .attr("x", function(d) { return x(d.letter); })
                .attr("width", x.rangeBand())
                .attr("y", function(d) { return y(d.frequency); })
                .attr("height", function(d) { return height - y(d.frequency); });

    });

    function type(d) {
        d.frequency = +d.frequency;
        return d;
    }

</script>
<script>
    var diameter2 = 500,
            format2 = d3.format(",d"),
            color2 = d3.scale.category20c();

    var bubble2 = d3.layout.pack()
            .sort(null)
            .size([diameter2, diameter2])
            .padding(1.5);

    var svg2 = d3.select("#timeCell").append("svg")
            .attr("width", diameter2)
            .attr("height", diameter2)
            .attr("class", "bubble");

    d3.json("/static/dataFiles/export.json", function(error, root) {
        var node = svg2.selectAll(".node")
                .data(bubble2.nodes(classes(root))
                        .filter(function(d) { return !d.children; }))
                .enter().append("g")
                .attr("class", "node")
                .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

        node.append("title")
                .text(function(d) { return d.className + ": " + format2(d.value); });

        node.append("circle")
                .attr("r", function(d) { return d.r; })
                .style("fill", function(d) { return color2(d.packageName); });

        node.append("text")
                .attr("dy", ".3em")
                .style("text-anchor", "middle")
                .text(function(d) { return d.className.substring(0, d.r / 3); });
    });

    // Returns a flattened hierarchy containing all leaf nodes under the root.
    function classes(root) {
        var classes = [];

        function recurse(name, node) {
            if (node.children) node.children.forEach(function(child) { recurse(node.name, child); });
            else classes.push({packageName: name, className: node.name, value: node.size});
        }

        recurse(null, root);
        return {children: classes};
    }

    d3.select(self.frameElement).style("height", diameter2 + "px");

</script>

<script type="text/javascript">
    var margin3 = { top: 50, right: 0, bottom: 100, left: 30 },
            width3 = 500 - margin3.left - margin3.right,
            height3 = 400 - margin3.top - margin3.bottom,
            gridSize3 = Math.floor(width3 / 24),
            legendElementWidth3 = gridSize3*2,
            buckets3 = 9,
            colors3 = ["#ffffd9","#edf8b1","#c7e9b4","#7fcdbb","#41b6c4","#1d91c0","#225ea8","#253494","#081d58"], // alternatively colorbrewer.YlGnBu[9]
            days3 = ["Mo", "Tu", "We", "Th", "Fr", "Sa", "Su"],
            times3 = ["1a", "2a", "3a", "4a", "5a", "6a", "7a", "8a", "9a", "10a", "11a", "12a", "1p", "2p", "3p", "4p", "5p", "6p", "7p", "8p", "9p", "10p", "11p", "12p"];


    d3.tsv("/static/dataFiles/views.tsv",
            function(d) {
                return {
                    day: +d.day,
                    hour: +d.hour,
                    value: +d.value
                };
            },
            function(error, data) {
                var colorScale = d3.scale.quantile()
                        .domain([0, buckets3 - 1, d3.max(data, function (d) { return d.value; })])
                        .range(colors3);

                var svg = d3.select("#viewCell").append("svg")
                        .attr("width", width3 + margin3.left + margin3.right)
                        .attr("height", height3 + margin3.top + margin3.bottom)
                        .append("g")
                        .attr("transform", "translate(" + margin3.left + "," + margin3.top + ")");

                var dayLabels = svg.selectAll(".dayLabel")
                        .data(days3)
                        .enter().append("text")
                        .text(function (d) { return d; })
                        .attr("x", 0)
                        .attr("y", function (d, i) { return i * gridSize3; })
                        .style("text-anchor", "end")
                        .attr("transform", "translate(-6," + gridSize3 / 1.5 + ")")
                        .attr("class", function (d, i) { return ((i >= 0 && i <= 4) ? "dayLabel mono axis axis-workweek" : "dayLabel mono axis"); });

                var timeLabels = svg.selectAll(".timeLabel")
                        .data(times3)
                        .enter().append("text")
                        .text(function(d) { return d; })
                        .attr("x", function(d, i) { return i * gridSize3; })
                        .attr("y", 0)
                        .style("text-anchor", "middle")
                        .attr("transform", "translate(" + gridSize3 / 2 + ", -6)")
                        .attr("class", function(d, i) { return ((i >= 7 && i <= 16) ? "timeLabel mono axis axis-worktime" : "timeLabel mono axis"); });

                var heatMap = svg.selectAll(".hour")
                        .data(data)
                        .enter().append("rect")
                        .attr("x", function(d) { return (d.hour - 1) * gridSize3; })
                        .attr("y", function(d) { return (d.day - 1) * gridSize3; })
                        .attr("rx", 4)
                        .attr("ry", 4)
                        .attr("class", "hour bordered")
                        .attr("width", gridSize3)
                        .attr("height", gridSize3)
                        .style("fill", colors3[0]);

                heatMap.transition().duration(1000)
                        .style("fill", function(d) { return colorScale(d.value); });

                heatMap.append("title").text(function(d) { return d.value; });

                var legend = svg.selectAll(".legend")
                        .data([0].concat(colorScale.quantiles()), function(d) { return d; })
                        .enter().append("g")
                        .attr("class", "legend");

                legend.append("rect")
                        .attr("x", function(d, i) { return legendElementWidth3 * i; })
                        .attr("y", height3)
                        .attr("width", legendElementWidth3)
                        .attr("height", gridSize3 / 2)
                        .style("fill", function(d, i) { return colors3[i]; });

                legend.append("text")
                        .attr("class", "mono")
                        .text(function(d) { return "≥ " + Math.round(d); })
                        .attr("x", function(d, i) { return legendElementWidth3 * i; })
                        .attr("y", height3 + gridSize3);
            });
</script>

<script>


    var margin4 = {top: 20, right: 20, bottom: 30, left: 50},
            width4 = 500 - margin4.left - margin4.right,
            height4 = 400 - margin4.top - margin4.bottom;

    var parseDate4 = d3.time.format("%Y-%m-%d").parse;

    var x4 = d3.time.scale()
            .range([0, width4]);

    var y4= d3.scale.linear()
            .range([height4, 0]);

    var xAxis4 = d3.svg.axis()
            .scale(x4)
            .orient("bottom");

    var yAxis4 = d3.svg.axis()
            .scale(y4)
            .orient("left");

    var area4 = d3.svg.area()
            .x(function(d) { return x4(d.date); })
            .y0(height4)
            .y1(function(d) { return y4(d.close); });

    var svg4= d3.select("#analCell").append("svg")
            .attr("width", width4 + margin4.left + margin4.right)
            .attr("height", height4 + margin4.top + margin4.bottom)
            .append("g")
            .attr("transform", "translate(" + margin4.left + "," + margin4.top + ")");

    d3.tsv("/static/dataFiles/analytics.tsv", function(error, data) {
        data.forEach(function(d) {
            d.date = parseDate4(d.date);
            d.close = +d.close;
        });

        x4.domain(d3.extent(data, function(d) { return d.date; }));
        y4.domain([0, d3.max(data, function(d) { return d.close; })]);

        svg4.append("path")
                .datum(data)
                .attr("class", "area")
                .attr("d", area4);

        svg4.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height4+ ")")
                .call(xAxis4);

        svg4.append("g")
                .attr("class", "y axis")
                .call(yAxis4)
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Price ($)");
    });


</script>

{% endblock %}
